.keyboard {
    border: 2px black solid;
    width: 60%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(35, 43, 40);
    padding: 10px;
    margin-top: 10px;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: #000;
}

.key {
    border: 2px rgb(0, 0, 0) solid;
    background-color: white;
    font-size: 30px;
    width: 10%;
    text-align: center;
}
.key:hover {
    background-color: rgb(207, 207, 207);
}

.imageWindow {
    margin: auto;
    width: 30%;
    height: 30vh;
    border: 2px black solid;
    background-image: url("imgs/Step0.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-color: #fff;
}

.guessWord {
    font-size: 4vh;
    margin: auto;
    width: fit-content;
    text-align: center;
}

.wrapper {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    background-color: rgb(66, 66, 66);
    padding: 20px;
    height: 95vh;
    color: #fff;
}

#reset-btn {
    margin-top: 50px;
    width: 400px;
    height: 50px;
}
h1 {
    font-size: 100px;
}