header, header h1 {
    color: rgb(253, 206, 0);
    background-color: rgb(32, 25, 25);
    margin: 0;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav {
    margin: 0;
}
#wrapper {
    height: 100vh;
    width: 90%;
    margin: auto;
    background-color: rgb(66, 66, 66);
}

main {
    text-align: center;
    padding: 10px;
    color: white;
}